<!DOCTYPE html>
<html>
<head>
    <title>Block chain</title>
    <h1>Fill your number</h1>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<body>
    <label>Number:</label>
    <input type="textbox" id="number">
    <input type="button" value="Mine" id="mining">
    
    <br>
    <label>Output:</label>
    <input type="textbox" id="output">
</body>


<script type="text/javascript">
    var number
    $("#mining").click(function() {
        number = document.getElementById('number').value
        $.post("/", {
            "number": number
        },
        
        function(data, status){
            document.getElementById('output').value = data
        });
    });
</script>
</html>

